In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
data=pd.read_csv('/home/aids/TE A14/IRIS.csv')
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
data.shape

(150, 5)

In [41]:
data.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width      species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [43]:
data['sepal_length'].mean()

5.843333333333334

In [44]:
data['petal_length'].mean()

3.758666666666666

In [15]:
data['petal_width'].mean()

1.1986666666666668

In [16]:
data['sepal_length'].min()

4.3

In [17]:
data['sepal_width'].min()

2.0

In [18]:
data['petal_length'].min()

1.0

In [19]:
data['petal_width'].min()

0.1

In [20]:
data['sepal_length'].median()

5.8

In [21]:
data['sepal_width'].median()

3.0

In [22]:
data['petal_length'].median()

4.35

In [23]:
data['petal_width'].median()

1.3

In [24]:
data['sepal_length'].max()

7.9

In [25]:
data['sepal_width'].max()

4.4

In [26]:
data['petal_length'].max()

6.9

In [27]:
data['petal_width'].max()

2.5

In [28]:
data['sepal_length'].std()

0.828066127977863

In [29]:
data['sepal_width'].std()

0.4335943113621737

In [30]:
data['petal_length'].std()

1.7644204199522626

In [31]:
data['petal_width'].std

<bound method NDFrame._add_numeric_operations.<locals>.std of 0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64>

In [34]:
data['sepal_length'].var()

0.6856935123042507

In [35]:
data['sepal_width'].var()

0.1880040268456376

In [36]:
data['petal_length'].var()

3.113179418344519

In [37]:
data['petal_width'].var()

0.582414317673378